@{
    ViewData["Title"] = "CarsReport";
}

<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Отчёт по машинам</h5>
</div>

<form method="post">
        <p>
            <label for="date">С </label>
            <input type="date" id="dateFrom" name="dateFrom"/>
            <label for="date">По </label>
            <input type="date" id="dateTo" name="dateTo"/>
        </p>
        <p>
            <input type="submit" asp-route-dateFrom="dateFrom" asp-route-dateTo="dateTo" asp-action="ReportGetClientsPDF" value="Вывести на форму"/>
            <input type="submit" asp-route-dateFrom="dateFrom" asp-route-dateTo="dateTo" asp-action="SendReportOnMail" value="Отправить на почту" />            
        </p>
        @if(ViewBag.Report != null){
            string period = ViewBag.Period;
            <div style="text-align:center">
            <label style="font-weight:bold">@period</label>
            </div>
        <table class="table">
        <thead>
            <tr>
                <th>
                    Наименование авто
                </th>
                <th>
                    Дата обращения
                </th>
                <th>
                    Неисправность
                </th>
                <th>
                    ТО
                </th>
            </tr>
        </thead>
        <tbody>            
            @foreach (var item in ViewBag.Report)
            {
                <tr>
                    <td>
                        @item.CarName
                    </td>
                    <td>
                        @item.DateIn
                    </td>
                    <td>
                        @item.DefectName
                    </td>                           
                    <td>
                        @item.TechnicalMaintenanceName
                    </td>
                </tr>                  
            }         
        </tbody>
    </table>
    }      
</form>
